.advantages {
padding-top: 94px;
padding-bottom: 94px;
     &-icon-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 270px;
        height: 120px;
        background-color: var(--block-bg);
        border-radius: 4px;
        margin-bottom: 30px;    
        }
    &-icon {
    width: 70px;
    height: 70px;
       
    }
    &-list {
    display: flex;
         &-item {
        width: 271px;
        }
        &-item:not(:last-child){
    margin-right: 30px;
        }
    }
    &-headline {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.333;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--subtitle-font-color);
    margin-bottom: 10px;
    }   
    &-paragraph {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.714;
    /* or 171% */
    letter-spacing: 0.03em;
    color: var(--font-color);
    }
}