.contact-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding:0;
    margin-left: auto;
   &-item:not(:last-child) {
        margin-right: 50px; 
    }
}

.contact-header-link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.333;
    letter-spacing: 0.02em;
    color: var(--font-color);
    fill: currentColor;
    font-style: normal;
    display: flex;
    align-items:center;
    transition-property: color;
    transition-duration: 250ms;
   
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, &:focus {
       color: var(--accent-color); 
       fill: currentColor; 
    }
}   
.contact-icon {
    display: inline-block;
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill: currentColor; 
}