



@media screen and (max-width: 767px) {
.header {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--border-color);
}

.navigation-list {
display: none;
}
.contact-list {
    display: none;
}
.burger-btn {
background-color: transparent;
padding: 0;
border: none;
display: flex;
align-items: center;
fill: var(--logo-web-color);
transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, &:focus{
        fill: var(--accent-color);
    }
}
.burger-icon {
    width: 40px;
    height: 40px;  
}
    .mobile-menu {
    width: 100%;
    height: 100vh;
    max-width: 480px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-150%);
    background-color: var(--bg-color);
    padding: 48px 40px;
    z-index: 10;

    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile {
    &-nav-link {
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.175;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--subtitle-font-color);
    }
    &-menu-list {
        margin-bottom: 302px;
    }
    &-menu-item:not(:last-child), &-contact-item:not(:last-child){
        margin-bottom: 32px;
    }
    

    &-contact-tel {
        font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--accent-color);
    }
    &-contact-mail {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: var(--font-color);
    }
    &-contact-list {
        margin-bottom: 64px;
    }
    &-social-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    &-social-list-item {
   display: flex;
    justify-content: center;
    align-items: center;
    }
    &-social-list-link{
        font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;

    color: var(--accent-color);
    }
    &-social-list-line {
        background-color: var(--form-border);
    width: 22px;
    height: 2px;
    transform: rotate(90deg);
    }
}




.mobile-close-icon {
    width: 40px;
    height: 40px;
    fill:  var(--subtitle-font-color);
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-close-btn {
position: absolute;
right: 15px;
top: 10px;
background-color: transparent;
padding: 0;
border: none;
display: flex;
align-items: center;
    &:hover .mobile-close-icon {
        cursor: pointer;
     fill: var(--accent-color);
    }
}

.mobile-menu.is-open {
    transform: translateX(-50%) translateY(0);
}

}

@media screen and (min-width: 768px) {
    .header {
     
    border-bottom: 1px solid var(--border-color);
}
 .burger-btn {
 display: none;
 }
 .burger-icon {display: none;}
 .mobile-menu {display: none;}
 .mobile-close-icon {display: none;}
 .mobile-close-btn {display: none;}

 .navigation {
    
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
   /* justify-content: space-between; */
   &-list {
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding:0;
    margin-left: 88px;  
    &-item {
    position: relative;
        }
    &-item:not(:first-child) {
    margin-left: 50px;
        }  
        
    &-link {
    box-sizing: content-box;
    display: block;
    padding-top: 31px;
    padding-bottom: 31px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.333;
    letter-spacing: 0.02em;
    color: var(--subtitle-font-color); 
    transition-property: color, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
       &::after {
           position: absolute;
          bottom: -1px;
          content: "";
          display: block;
          width: 100%;
          height: 4px;
          border-radius: 2px;
    
          background-color: var(--accent-color);  
          transition-property: background-color;
          transition-duration: 250ms;
          background-color: transparent;
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
       }
        &:hover, &:focus, &.current, {
           color: var(--accent-color); 
            fill: currentColor; 
       }
       &.current::after {
          position: absolute;
          bottom: -1px;
          content: "";
          display: block;
          width: 100%;
          height: 4px;
          border-radius: 2px;
    
          background-color: var(--accent-color);  
          transition-property: background-color;
          transition-duration: 250ms;
          background-color: var(--accent-color);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
         }

        }    
    }
 }
    .contact-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding:0;
    margin-left: auto;
   &-item:not(:last-child) {
        margin-bottom: 10px; 
    }
}

.contact-header-link {
    display: block;
    // padding-top: 32px;
    // padding-bottom: 32px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.333;
    letter-spacing: 0.02em;
    color: var(--font-color);
    fill: currentColor;
    font-style: normal;
    display: flex;
    align-items:center;
    transition-property: color;
    transition-duration: 250ms;
   
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, &:focus {
       color: var(--accent-color); 
       fill: currentColor; 
    }
}   
.contact-icon-envelope {
    display: inline-block;
    width: 14px;
    height: 12px;
    margin-right: 8px;
    fill: currentColor; 
    }   
.contact-icon-tel {
    display: inline-block;
    width: 10px;
    height: 14px;
    margin-right: 8px;
    fill: currentColor; 
    }  
}

@media screen and (min-width: 1200px) {
.navigation {
    
  
   &-list {
    
    margin-left: 93px;  
    &-item {
    position: relative;
        }
    &-item:not(:first-child) {
    margin-left: 50px;
        }  
        
    &-link {
   
    padding-top: 31px;
    padding-bottom: 31px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.333;
    letter-spacing: 0.02em;
   

         }    
    }
 }
    .contact-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
padding:0;
   
   &-item:not(:last-child) {
        margin-right: 50px;
        margin-bottom: 0; 
    }
}

.contact-header-link {
    display: flex;
    align-items: center;
    padding-top: 31px;
    padding-bottom: 31px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.02em;
 
}   
.contact-icon-envelope { 
    width: 16px;
    height: 12px;
    margin-right: 8px;   
    }   
.contact-icon-tel {    
    width: 10px;
    height: 16px;
    margin-right: 8px;
    }    

}


// .logo {

// }
// .header {
// border-bottom: 1px solid var(--border-color);
// &.container {
//     display: flex;
//     width: 1200px;
//     padding-left: 15px;
//     padding-right: 15px;
//     margin: 0 auto;
//     }
// }

// .navigation {
    
//     display: flex;
//     flex-direction: row;
//     flex-wrap: nowrap;
//     align-items: center;
//    /* justify-content: space-between; */
//    &-list {
    
//     display: flex;
//     flex-direction: row;
//     flex-wrap: wrap;
//     padding:0;
//     margin-left: 93px;  
//     &-item {
//     position: relative;
//         }
//     &-item:not(:first-child) {
//     margin-left: 50px;
//         }  
        
//     &-link {
//     box-sizing: content-box;
//     display: block;
//     padding-top: 32px;
//     padding-bottom: 32px;
//     font-style: normal;
//     font-weight: 500;
//     font-size: 14px;
//     line-height: 1.333;
//     letter-spacing: 0.02em;
//     color: var(--subtitle-font-color); 
//     transition-property: color, background-color;
//     transition-duration: 250ms;
//     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
//        &::after {
//            position: absolute;
//           bottom: -1px;
//           content: "";
//           display: block;
//           width: 100%;
//           height: 4px;
//           border-radius: 2px;
    
//           background-color: var(--accent-color);  
//           transition-property: background-color;
//           transition-duration: 250ms;
//           background-color: transparent;
//           transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
//        }
//         &:hover, &:focus, &.current, {
//            color: var(--accent-color); 
//             fill: currentColor; 
//        }
//        &.current::after {
//           position: absolute;
//           bottom: -1px;
//           content: "";
//           display: block;
//           width: 100%;
//           height: 4px;
//           border-radius: 2px;
    
//           background-color: var(--accent-color);  
//           transition-property: background-color;
//           transition-duration: 250ms;
//           background-color: var(--accent-color);
//           transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
//          }

//         }    
//     }
// }

// .contact-list {
//     display: flex;
//     flex-direction: row;
//     flex-wrap: wrap;
//     padding:0;
//     margin-left: auto;
//    &-item:not(:last-child) {
//         margin-right: 50px; 
//     }
// }

// .contact-header-link {
//     display: block;
//     padding-top: 32px;
//     padding-bottom: 32px;
//     font-weight: 500;
//     font-size: 14px;
//     line-height: 1.333;
//     letter-spacing: 0.02em;
//     color: var(--font-color);
//     fill: currentColor;
//     font-style: normal;
//     display: flex;
//     align-items:center;
//     transition-property: color;
//     transition-duration: 250ms;
   
//     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
//     &:hover, &:focus {
//        color: var(--accent-color); 
//        fill: currentColor; 
//     }
// }   
// .contact-icon {
//     display: inline-block;
//     width: 16px;
//     height: 12px;
//     margin-right: 10px;
//     fill: currentColor; 
// }

