// .navigation {
    
//     display: flex;
//     flex-direction: row;
//     flex-wrap: nowrap;
//     align-items: center;
//    /* justify-content: space-between; */
//    &-list {
    
//     display: flex;
//     flex-direction: row;
//     flex-wrap: wrap;
//     padding:0;
//     margin-left: 93px;  
//     &-item {
//     position: relative;
//         }
//     &-item:not(:first-child) {
//     margin-left: 50px;
//         }  
        
//     &-link {
//     box-sizing: content-box;
//     display: block;
//     padding-top: 32px;
//     padding-bottom: 32px;
//     font-style: normal;
//     font-weight: 500;
//     font-size: 14px;
//     line-height: 1.333;
//     letter-spacing: 0.02em;
//     color: var(--subtitle-font-color); 
//     transition-property: color, background-color;
//     transition-duration: 250ms;
//     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
//        &::after {
//            position: absolute;
//           bottom: -1px;
//           content: "";
//           display: block;
//           width: 100%;
//           height: 4px;
//           border-radius: 2px;
    
//           background-color: var(--accent-color);  
//           transition-property: background-color;
//           transition-duration: 250ms;
//           background-color: transparent;
//           transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
//        }
//         &:hover, &:focus, &.current, {
//            color: var(--accent-color); 
//             fill: currentColor; 
//        }
//        &.current::after {
//           position: absolute;
//           bottom: -1px;
//           content: "";
//           display: block;
//           width: 100%;
//           height: 4px;
//           border-radius: 2px;
    
//           background-color: var(--accent-color);  
//           transition-property: background-color;
//           transition-duration: 250ms;
//           background-color: var(--accent-color);
//           transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
//          }

//         }    
//     }
// }
