.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 528px;
    min-height: 581px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    background-color: var(--bg-color);
    padding: 40px; 
    opacity: 1;  
    transition-property: opacity;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
    &-close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    }
    &-cross-link {
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
     transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
        &:hover, &:focus {
       fill: var(--accent-color);
       }
    }
    &-icon {
    width: 11px;
    height: 11px;
    }
    &-form {
   display: flex;
   flex-direction: column;
      &-button {
       display: block;
  
        font-weight: 700;
        font-size: 16px;
        line-height: 1.875;
        font-style: normal;
        cursor: pointer;
        margin: 0 auto;


        text-align: center;
        letter-spacing: 0.06em;
        color: var(--bg-color);
        /* стиль кнопки */
        background: var(--accent-color);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-color: transparent;
        border-radius: 4px;
        min-width: 200px;
        border: 0;
        height: 50px;
        transition-property: background-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        }
        &-button:hover, &-button:focus {
        background-color: var(--modal-button-hover);
        cursor: pointer;
        }
   
    
        &-label {
        display: block;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 1.166;
        /* identical to box height */
        letter-spacing: 0.01em;
        color: var(--font-color);
        padding-bottom: 12px;
    &-policy::before {
        display: inline-block;
        width: 16px;
        height: 15px;
        /* outline: 1px solid var(--font-color); */
        border: 1px solid black;
        border-radius: 2px;
        content: "";
        background-color: var(--bg-color);
        margin-right: 10px;
            }
     &-policy {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        
        /* font-size: 12px; */
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 3;
        /* identical to box height, or 171% */

        letter-spacing: 0.03em;

        color: var(--font-color);
        }  
        &-policy:hover{
        cursor: pointer;
        }      
    }
     &-check-policy:checked + &-label-policy::before {
          background-color: var(--accent-color);
        /* border: 4px solid #ffffff; */
        background-image: url(../images/check.svg);
        background-position: center;
        border-color: transparent;
    
        }   
        &-check-policy:focus + &-label-policy::before 
        {
        box-shadow: 0 0 0 2px var(--accent-color);
        
        }       
    }
    &-form-input {
    
    display: block;
    width: 100%;
    height: 40px;
    border: 1px solid var(--form-border);
    box-sizing: border-box;
    border: 1px;
    border-style: solid;
    border-color: var(--form-border);
    border-radius: 4px;
    outline: none;
    margin-bottom: 10px;
    padding-left: 42px;
    // padding-top: 12px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
     transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:focus {
      border-color:var(--accent-color);  
        }
  
    &-wraper{
    position: relative;
    display: block;
    }
    &-text {
            display: block;
            padding: 12px 16px;
            margin-bottom: 20px;
            height: 120px;
            width: 100%;
            font-size: 14px;
            line-height: 1.143;
            letter-spacing: 0.01em;
            display: block;
            width: 100%;
            outline:none;
            resize: none;
            border: 1px solid;
            border-radius: 4px;
            border-color: var(--form-border);
            transition-property: border-color;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            }
        &-text:focus{
         border-color: var(--accent-color);
        }
        &-text::placeholder {
        color: var(--placeholder-form);
        }

    }
    &-input-icon{
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    fill: var(--subtitle-font-color);
     transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    &-form-input:focus + &-input-icon {
    fill: var(--accent-color);
    }
}

.form{
    &-label {
        display: block;
        margin-bottom: 4px;
        color: var(--font-color);
    }
    &-call {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--subtitle-font-color);
    margin-bottom: 12px;    
    }
}

.policy-wraper {
    margin: 0 auto;
    margin-bottom: 30px;
}


.modal-form-check-policy:checked + .modal-form-label-policy::before {
  background-color: var(--accent-color);
  /* border: 4px solid #ffffff; */
  background-image: url(../images/check.svg);
  background-position: center;
  border-color: transparent;
 
}


.link-policy {
    color: var(--accent-color);
}
