//переменные
:root {
    --accent-color: #2196F3;
    --bg-color: #fff;
    --border-color: #ECECEC;
    --font-color: #757575;
    --hero-bg-color: #2F303A;
    --modal-button-hover:#188CE8;
    --logo-web-color: #000;
    --subtitle-font-color: #212121;
    --block-border-color: #eee;
    --block-bg:  #F5F4FA;
    --social-icon-contact: #AFB1B8;
    --transparent-bg: rgba(255, 255, 255, 0.1);
    --footer-input: rgba(255, 255, 255, 0.6);
    --placeholder-form:rgba(117, 117, 117, 0.5);
    --form-border: rgba(33, 33, 33, 0.2);

    
}